<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/main.css">
    <title>EZ WEB INJECTION</title>
</head>

<body>
    <nav id="menu">
        <a href="/login">Login</a>
    </nav>
    <p>WELCOME TO WEB ATTACK</p>
</body>

</html>